In [2]:
import pandas as pd
import tensorflow as tf

2023-04-22 14:49:13.242636: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-04-22 14:49:13.244170: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-22 14:49:13.276304: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-22 14:49:13.276816: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-22 14:49:13.837042: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [3]:
df = pd.read_csv("./dataset/test.csv")

In [4]:
df.drop(["TITLE","DESCRIPTION","BULLET_POINTS"],axis=1,inplace=True)

In [5]:
df.head()

   PRODUCT_ID  PRODUCT_TYPE_ID
0      604373             6142
1     1729783             1622
2     1871949             7540
3     1107571            12442
4      624253             6318

In [7]:
model = tf.keras.models.load_model("regression_model.h5")

In [8]:
df["PRODUCT_LENGTH"] = model.predict(df["PRODUCT_TYPE_ID"])

22961/22961 [==============================] - 10s 435us/step

In [9]:
df.head()

   PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
0      604373             6142      669.373474
1     1729783             1622      885.598694
2     1871949             7540      669.373474
3     1107571            12442      669.373474
4      624253             6318      669.373474

In [10]:
df.drop("PRODUCT_TYPE_ID",axis=1,inplace=True)

In [11]:
df.head()

   PRODUCT_ID  PRODUCT_LENGTH
0      604373      669.373474
1     1729783      885.598694
2     1871949      669.373474
3     1107571      669.373474
4      624253      669.373474

In [13]:
df.to_csv("submission.csv",index=False)